@import "./variables.scss";
@import "./breakpoint";
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $blue3;
  @include breakpoint(mobile) {
    border: none;
    padding: 0 5%;
  }
}
.leftSection,
.rightSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.leftSection {
  gap: 3vw;
}
.rightSection {
  gap: 1vw;
}
.hamburger {
  display: none;
  z-index: 3;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 138px;
  height: auto;
}
.menu {
  padding: 2rem 0;
}
.menuItems {
  list-style: none;
  color: $blue2;
  display: flex;
  gap: 2vw;
  padding: 0;
}
.menuItems li {
  position: relative;
}
.menuItems li:hover {
  color: $blue1;
  cursor: pointer;
}
.menu li:hover:before {
  content: "";
  background-color: $orange1;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -2rem;
}

.cartIcon,
.emptyCartIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}
.cartIcon path:hover,
.emptyCartIcon path:hover {
  fill: $blue1;
  cursor: pointer;
}
.cartIcon::after {
  content: attr(data-quantity);
  position: relative;
  left: -1em;
  top: -1em;
  background-color: $orange1;
  color: $blue4;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
}
.avatar {
  height: 3rem;
  width: auto;
}
.avatar:hover {
  cursor: pointer;
  outline: 3px solid $orange1;
  border-radius: 50%;
}

// Smaller Screens (Mobile & Tablet)
@media only screen and (max-width: 768px) {
  .menu ul {
    display: none;
  }
  .hamburger {
    display: inline-flex;
  }
  .avatar {
    height: 2em;
  }
}
