@import "variables.scss";
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.5;
}
.mainImage {
  max-width: 50vw;
  z-index: 2;
  img {
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .navigationIcons {
    position: relative;
    top: -50%;
    left: 50%;
    height: 100%;
    .iconPrevious,
    .iconNext,
    .iconClose {
      position: absolute;
      @include flex-center();
      width: 30px;
      height: 30px;
      border-radius: 50%;
      img {
        all: unset;
        height: 0.75rem;
        &:hover {
          filter: invert(52%) sepia(94%) saturate(1472%) hue-rotate(347deg)
            brightness(101%) contrast(101%);
          cursor: pointer;
        }
      }
    }
    .iconPrevious {
      background-color: #fff;

      left: -54%;
      top: 0;
    }
    .iconNext {
      background-color: #fff;

      left: 46%;
      top: 100;
    }
    .iconClose {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(175deg)
        brightness(207%) contrast(101%);
      top: -59%;
      left: 43%;
    }
  }
}
.thumbnails {
  @include flex-center();
  justify-content: space-between;
  z-index: 2;
  max-width: 50vw;
  img {
    max-width: 20%;
    max-height: 15vh;
    border-radius: 0.5rem;
    &:hover {
      cursor: pointer;
      outline: 3px solid $orange1;
      opacity: 0.75;
    }
  }
}
