@import "./variables.scss";
.mobileMenuBackdrop {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 5%;
  background-color: #fff;
  height: 100vh;
  width: 70vw;
  z-index: 5;

  .mobileMenuItems {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    li {
      margin: 1.5rem 0;
      &:hover {
        color: $orange1;
      }
    }
  }
}
