@import "variables.scss";
@import "_button.scss";
@import "_breakpoint.scss";
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productSection {
  @include flex-center();
  margin: 5rem 0;
  @include breakpoint(mobile) {
    flex-direction: column;
    margin: 0;
  }
}
.leftCol,
.rightCol {
  @include flex-center();
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 0 5vw;
  @include breakpoint(mobile) {
    width: 100%;
    padding: 0;
  }
}

.rightCol {
  gap: 1rem;
  .companyName {
    font-weight: bold;
    text-transform: uppercase;
    color: $orange1;
  }
  .productTitle {
    font-weight: bold;
    font-size: 3vw;
  }
  .productDescription {
    color: $blue2;
  }
  .productPrice {
    .productDiscountedPrice {
      display: flex;
      align-items: center;
    }
    font-size: 1.5vw;
    align-items: center;
    .productDiscount {
      font-size: 1vw;
      font-weight: bold;
      background-color: $orange2;
      padding: 0.5em;
      border-radius: 0.5em;
      margin-left: 1em;
      color: $orange1;
    }
  }
  .productOriginalPrice {
    color: $blue3;
    font-weight: bold;
    text-decoration: line-through;
  }
  .addToCart {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    .quantityBtn {
      flex-grow: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border-radius: 0.5rem;
      background-color: $blue4;
      p {
        font-weight: bold;
      }
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        font-size: 20px;
        background-color: $blue4;
        border: none;
        font-weight: bold;
        color: $orange1;
        border-radius: 0.5rem;
        &:hover {
          cursor: pointer;
          color: hsl(26deg 100% 75%);
        }
      }
    }
    .addToCartBtn {
      @extend .btn;
      width: auto;
      flex-grow: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      padding: 1em 2em;
      margin: 0;
      box-shadow: 0 15px 20px 5px hsla(26, 100%, 75%, 0.296);
      &:hover {
        background-color: hsl(26deg 100% 75%);
        cursor: pointer;
      }
      .addToCartIcon path {
        fill: #fff;
      }
    }
  }
  @include breakpoint(mobile) {
    align-items: center;
    text-align: center;
    padding: 0 5%;
    margin: 2rem 0 5rem 0;
    gap: 2rem;
    .companyName {
      width: 100%;
      margin-bottom: -1rem;
      text-align: left;
    }
    .productTitle {
      width: 100%;
      font-size: 2rem;
      text-align: left;
    }
    .productDescription {
      text-align: justify;
    }
    .productPrice {
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-align: center;
      .productDiscountedPrice {
        display: inline-flex;
        font-size: 1rem;
        .productDiscount {
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
      .productOriginalPrice {
        display: inline-flex;
      }
    }

    .addToCart {
      flex-direction: column;
      width: 100%;
      .quantityBtn {
        justify-content: space-between;
      }
    }
  }
}
